#                                     IMBD MOVIE RECOMMENDOR

In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

df  = pd.read_csv("Movies.csv")

In [2]:
df.head()

,name,year,duration,genre,rating,director,type
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Movie
1,The Godfather,1972,175,"Crime,Drama",9.2,Francis Ford Coppola,Movie
2,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,Christopher Nolan,Movie
3,The Godfather: Part II,1974,202,"Crime,Drama",9.0,Francis Ford Coppola,Movie
4,12 Angry Men,1957,96,"Crime,Drama",9.0,Sidney Lumet,Movie

## 1. Asking User for the Input

In [3]:
movie = input("Enter the name of the movie :")

Enter the name of the movie :The Dark Knight

## 2. Director

In [4]:
directors = (df[df['name'] == movie]['director'].values)
print(" The directors of the movie that user has selected is/are :",directors[0])

 The directors of the movie that user has selected is/are : Christopher Nolan

## 3. Top 10 movies based on the directors

In [5]:
new = df

In [6]:
del new['year']
del new['duration']
del new['genre']
del new['rating']
del new['type']

### 3.1 Finding names of all directors

In [7]:
directors = []
for i in new['director']:
    
    directors += i.split(',')
    
directors = [i.strip() for i in directors]    
directors = list(set(directors))

### 3.2 One Hot Conversion

In [8]:
one_hot = []

for i in new['director']:
    
    i = [j.strip() for j in i.split(',')]
    enc = [0 for i in range(len(directors))]
    
    for dir in i:
        enc[directors.index(dir)] = 1
    
    one_hot.append(enc)

### 3.3 One Hot Conversion Verification (Counting Number of Genres and 1's)

In [9]:
for i in range(len(new['director'])):
    
    x1 = len(new['director'][i].split(','))          
    x2 = list(one_hot[i]).count(1)          
    
    if (x1 != x2):
        print('Not Equal')

### 3.4  Converting OneHot to Array

In [10]:
one_hot = np.array(one_hot)
one_hot.shape

(1250, 1210)

### 3.5 Adding OneHotData Data to DataFrame

In [11]:
for i in range(1210):
    new[directors[i]] = one_hot[ : ,i]
    
new.head()

,name,director,Daniel Monzón,Florian Henckel von Donnersmarck,Christian Carion,Morgan Freeman,Mike Newell,Mitch Pileggi,Kevin Macdonald,Jonathan Levine,...,Graham Chapman,Son Ye-jin,Stellan Skarsgård,Rafael Pettersson,Mamoru Miyano,Stanley Kubrick,Daniela Denby-Ashe,Fabián Bielinsky,John Cameron Mitchell,Keythe Farley
0,The Shawshank Redemption,Frank Darabont,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,Francis Ford Coppola,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,Christopher Nolan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,Francis Ford Coppola,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,Sidney Lumet,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### BASED ON SAME DIRECTORS

In [12]:
for i in new.values:
    if(movie.lower()== i[0].lower()):
        rec = np.array(i[2:])
        
print('Recommended Movies/ Shows: ')
for i in df.values:
    if(list(np.array(i[2:])-rec).count(0) == len(directors)):
        print(i[0])

Recommended Movies/ Shows:
The Dark Knight
Inception
Interstellar
The Prestige
The Dark Knight Rises
Memento
Batman Begins
Dunkirk

### BASED ON SIMILAR DIRECTORS

In [13]:
def func(list):
    sm=0
    for i in list:
        sm+= abs(i)
        
    return sm

In [14]:
for i in df.values:
    if(movie.lower()== i[0].lower()):
        rec= np.array(i[2:])

lst=[]

for i in df.values:
    diff = func(list(np.array(i[2:])-rec))
    lst.append([i[0], diff])

df_= pd.DataFrame(lst, columns=['Movies', 'Difference'])

print('Recommended Movies/Shows: ')

for i in df_.sort_values(by='Difference').head(10).iloc[:, 0].values:
    print(i)

Recommended Movies/Shows:
Dunkirk
Memento
The Dark Knight
The Dark Knight Rises
The Prestige
Inception
Interstellar
Batman Begins
Glory
Majo no takkyûbin

## 4. NAME BASED RECOMMENDATIONS

In [15]:
df = pd.read_csv('Movies.csv')

del df['year']
del df['duration']
del df['genre']
del df['rating']
del df['type']

In [16]:
name=[]
for i in df['name']:
    i=i.replace(':', '')
    i= i.replace('-', '')
    if(len(i.split(' '))<=3):
        name.append(' '.join(i.split(' ')[:len(i.split(' '))//2 +1]))
    else:
        name.append(' '.join(i.split(' ')[: len(i.split(' '))//2 ]))
name= list(set(name))
print(len(name))

1192

In [17]:
one_hot=[]
for i in df['name']:
    i = i.replace(':', '')
    i = i.replace('-', '')
    enc=[0]*1192
    if(len(i.split(' '))<=3):
        enc[name.index(' '.join(i.split(' ')[:len(i.split(' '))//2 +1]))]=1
    else:
        enc[name.index(' '.join(i.split(' ')[: len(i.split(' '))//2 ]))]=1
    one_hot.append(enc)
    
print(len(one_hot))

1250

### VERIFYING ONE HOT

In [18]:
for i in range(len(df['name'])):
    if(one_hot[i].count(1) != 1):
        print('Not valid')
        break
    else:
        flag=1
if(flag):
    print('Valid One Hot Encoded!!')

Valid One Hot Encoded!!

### Adding columns in dataframe

In [19]:
one_hot= np.array(one_hot)
print(one_hot.shape)

(1250, 1192)

In [20]:
for i in range(1191):
    df[name[i]]=one_hot[: ,i]

In [21]:
df.head()

,name,director,Dark Waters,Dial M,The Searchers,Inside Man,Brass Eye,La double,Blackadder Goes,Smultronstället,...,Bridge of,Le charme discret,Goodfellas,Du rififi,Gilda,L'avventura,La leggenda,The Simpsons,Vinland Saga,Ted Lasso
0,The Shawshank Redemption,Frank Darabont,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,Francis Ford Coppola,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Dark Knight,Christopher Nolan,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Godfather: Part II,Francis Ford Coppola,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,Sidney Lumet,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## RECOMMENDING MOVIES BASED ON NAME

In [22]:
user= input('Enter the name of the movie:')
for i in df.values:
    if(i[0].lower()== user.lower()):
        rec= np.array(i[2:])

diff=[]
for i in df.values:
    xyz = list(np.array(i[2:])- rec)
    diff.append([i[0], func(xyz)])
    
df_= pd.DataFrame(diff, columns=['Name', 'Difference'])
df_=df_.sort_values(by='Difference')
print('Recommended Movies/Shows: ')
for i in df_.values:
    if(i[1] ==0):
        print(i[0])

Enter the name of the movie:The Dark Knight
Recommended Movies/Shows:
The Dark Knight
The Dark Knight Rises